/* UNIVERSAL STYLES */

* {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

/* NAV */

nav {
    width: 100%;
    height: 6.25em;
    background-image: url("images/blue-paint.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid #191970;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
}

nav a {
    color: #ffffff;
    font-size: 1.125rem;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s color ease;
}

nav a:hover {
    color: #ff1900;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 0.9375em 1.25em;
    cursor: pointer;
    transition: 0.5s background-color ease;
}

button:hover {
    background-color: #778899;
}

button a {
    color: #000000;
}

button a:hover {
    color: #0000ff;
}

/* BANNER */

.banner {
    width: 100%;
    height: 37.5em;
    background-image: url("images/paintbrush.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6.25em;
}

.club-name {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25;
}

.club-name h1 {
    color: #191970;
    font-size: 4rem;
    font-weight: bold;
    word-spacing: 1rem;
}

/* ABOUT */

#about {
    width: 100%;
    background-image: url("images/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 6.25em;
}

.about-content {
    width: 85%;
    height: 31.25em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-top: 0.625em;
}

.about-header {
    width: 50%;
    color: #000000;
    font-size: 2.75rem;
}

.about-header h2 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

.about-header span {
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    text-decoration: 4px underline #0000ff;
}

.about-info {
    width: 50%;
    max-height: 25em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-right: 1.25em;
    padding-left: 1.25em;
}

.about-info p {
    font-size: 1.25rem;
    text-align: justify;
    line-height: 1.5;
}

/* VISIT */

